# Students Performance

- link: https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset/data
- 2392명의 고등학생 포괄적인 정보 포함. (인구 통계, 공부 습관, 부모 참여, 과외 활동 및 학업 성취도)
- 목차 
    - 1. 학생 정보
        - 학생 아이디
        - 학생 통계 세부 정보
            - 연령
            - 성별
            - 인종
            - 부모의 교육수준
        - 공부 습관
    - 2. 부모의 참여
        - 부모의 지원
    - 3. 교과 외 활동
        - 과외 활동
        - 스포츠
        - 음악
        - 자원봉사
    - 4. 학업 성취도
- 결론: 학생의 학업 성취도에 영향을 미치는 요소에 대한 포괄적인 관점을 제공하므로 교육 연구, 예측 모델 개발, 통계 분석에 도움을 준다.

In [1]:
# [1] 모듈 로딩
import pandas as pd
import numpy as np

In [2]:
# [2] 데이터 준비
file_name = 'Student_performance_data _.csv'

In [3]:
# [3] DataFrame
data = pd.read_csv(file_name)

In [4]:
data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [5]:
df = data.copy()

In [6]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [7]:
# [4] 데이터 확인
# 데이터 기본 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [8]:
# 데이터 요약 통계
df.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [9]:
# [5] 데이터 정제
# 결측치 확인
df.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [10]:
# 중복값 확인
sum(df.duplicated())

0

In [11]:
# 데이터 상관관계
df.corr()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
StudentID,1.000000,-0.042255,-0.014625,-0.012990,-0.002307,0.026976,0.014841,-0.007834,0.003016,-0.003611,-0.020703,-0.005468,0.008011,-0.002697,-0.098500
Age,-0.042255,1.000000,0.044895,-0.028473,0.025099,-0.006800,-0.011511,-0.012076,0.033197,-0.025061,-0.046320,-0.003492,0.013074,0.000275,-0.006250
Gender,-0.014625,0.044895,1.000000,0.016010,0.006771,0.011469,0.021479,-0.031597,0.008065,-0.005964,-0.008897,0.007109,-0.000200,-0.013360,0.022998
Ethnicity,-0.012990,-0.028473,0.016010,1.000000,0.033595,0.007184,-0.025712,-0.017440,0.020922,-0.008927,-0.004484,-0.014627,0.013468,0.027760,-0.023326
ParentalEducation,-0.002307,0.025099,0.006771,0.033595,1.000000,-0.011051,0.036518,-0.017340,-0.017463,0.007479,0.002029,0.039439,0.011960,-0.035854,0.041031
StudyTimeWeekly,0.026976,-0.006800,0.011469,0.007184,-0.011051,1.000000,0.009326,0.028930,0.035800,-0.022860,0.006836,0.007791,-0.016604,0.179275,-0.134131
Absences,0.014841,-0.011511,0.021479,-0.025712,0.036518,0.009326,1.000000,-0.015534,0.002108,0.000360,0.041454,-0.008692,-0.018528,-0.919314,0.728633
Tutoring,-0.007834,-0.012076,-0.031597,-0.017440,-0.017340,0.028930,-0.015534,1.000000,-0.000824,0.004865,0.006278,-0.011385,-0.050898,0.145119,-0.111695
ParentalSupport,0.003016,0.033197,0.008065,0.020922,-0.017463,0.035800,0.002108,-0.000824,1.000000,-0.008381,-0.006176,0.035122,-0.006036,0.190774,-0.136823
Extracurricular,-0.003611,-0.025061,-0.005964,-0.008927,0.007479,-0.022860,0.000360,0.004865,-0.008381,1.000000,-0.011820,-0.014191,-0.007427,0.094078,-0.069733
Sports,-0.020703,-0.046320,-0.008897,-0.004484,0.002029,0.006836,0.041454,0.006278,-0.006176,-0.011820,1.000000,-0.020474,-0.002799,0.057859,-0.026654
Music,-0.005468,-0.003492,0.007109,-0.014627,0.039439,0.007791,-0.008692,-0.011385,0.035122,-0.014191,-0.020474,1.000000,0.017224,0.073318,-0.036065
Volunteering,0.008011,0.013074,-0.000200,0.013468,0.011960,-0.016604,-0.018528,-0.050898,-0.006036,-0.007427,-0.002799,0.017224,1.000000,0.003258,0.013156
GPA,-0.002697,0.000275,-0.013360,0.027760,-0.035854,0.179275,-0.919314,0.145119,0.190774,0.094078,0.057859,0.073318,0.003258,1.000000,-0.782835
GradeClass,-0.098500,-0.006250,0.022998,-0.023326,0.041031,-0.134131,0.728633,-0.111695,-0.136823,-0.069733,-0.026654,-0.036065,0.013156,-0.782835,1.000000

In [12]:
# [6] 데이터 분석
df['GradeClass'].value_counts()

GradeClass
4.0    1211
3.0     414
2.0     391
1.0     269
0.0     107
Name: count, dtype: int64

In [13]:
df['GradeClass'].mean()

2.983695652173913

In [14]:
df['StudyTimeWeekly'].value_counts()

StudyTimeWeekly
19.833723    1
16.082185    1
2.543624     1
7.971184     1
3.403053     1
            ..
18.116988    1
10.324956    1
3.074986     1
18.434533    1
17.819907    1
Name: count, Length: 2392, dtype: int64

In [15]:
df['StudyTimeWeekly'].mean()

9.771991919431738

In [27]:
df['Absences'].value_counts()

Absences
25    93
13    93
12    92
8     91
19    90
20    90
6     88
15    87
23    86
7     86
1     85
27    84
14    84
5     83
21    83
17    81
24    81
26    80
3     79
16    79
18    79
11    71
22    71
2     69
29    69
4     69
0     67
9     67
10    61
28    54
Name: count, dtype: int64

In [28]:
df['Absences'].mean()

14.54138795986622

In [29]:
df['Tutoring'].value_counts()

Tutoring
0    1671
1     721
Name: count, dtype: int64

In [30]:
df['Tutoring'].mean()

0.30142140468227424

In [16]:
StudyTimeWeekly_1 = pd.cut(df['StudyTimeWeekly'],
                    bins = 3,
                    labels = ['하', '중', '상'])

In [17]:
StudyTimeWeekly_1

0       상
1       상
2       하
3       중
4       하
       ..
2387    중
2388    중
2389    중
2390    중
2391    상
Name: StudyTimeWeekly, Length: 2392, dtype: category
Categories (3, object): ['하' < '중' < '상']

In [18]:
df['StudyTimeWeekly_1'] = StudyTimeWeekly_1

In [19]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,StudyTimeWeekly_1
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,상
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,상
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,하
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,중
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,하
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,중
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,중
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,중
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,중
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,상

In [20]:
Absences_1 = pd.cut(df['Absences'],
                    bins = 3,
                    labels = ['하', '중', '상'])

In [21]:
Absences_1

0       하
1       하
2       상
3       중
4       중
       ..
2387    하
2388    하
2389    상
2390    중
2391    중
Name: Absences, Length: 2392, dtype: category
Categories (3, object): ['하' < '중' < '상']

In [22]:
df['Absences_1'] = Absences_1

In [23]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,StudyTimeWeekly_1,Absences_1
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,상,하
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,상,하
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,하,상
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,중,중
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,하,중
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,중,하
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,중,하
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,중,상
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,중,중
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,상,중

In [24]:
GradeClass_1 = pd.cut(df['GradeClass'],
                    bins = 3,
                    labels = ['하', '중', '상'])

In [35]:
GradeClass_1

0       중
1       하
2       상
3       상
4       상
       ..
2387    하
2388    상
2389    중
2390    하
2391    하
Name: GradeClass, Length: 2392, dtype: category
Categories (3, object): ['하' < '중' < '상']

In [36]:
df['GradeClass_1'] = GradeClass_1

In [37]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,StudyTimeWeekly_1,Absences_1,GradeClass_1
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,상,하,중
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,상,하,하
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,하,상,상
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,중,중,상
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,하,중,상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,중,하,하
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,중,하,상
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,중,상,중
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,중,중,하
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,상,중,하

In [31]:
# StudyTimeWeekly 상,중,하에 따른 GradeClass의 평균
study_time_grade = df.groupby('StudyTimeWeekly_1')['GradeClass'].mean()
print(study_time_grade)

StudyTimeWeekly_1
하    3.152795
중    2.997650
상    2.782609
Name: GradeClass, dtype: float64

C:\Users\kdt\AppData\Local\Temp\ipykernel_18176\1760155631.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  study_time_grade = df.groupby('StudyTimeWeekly_1')['GradeClass'].mean()

In [32]:
# Absences 상,중,하에 따른 GradeClass의 평균
absences_correlation = df.groupby('Absences_1')['GradeClass'].mean()
print(absences_correlation)

Absences_1
하    1.737245
중    3.347613
상    3.843236
Name: GradeClass, dtype: float64

C:\Users\kdt\AppData\Local\Temp\ipykernel_18176\3502283293.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  absences_correlation = df.groupby('Absences_1')['GradeClass'].mean()

In [34]:
# Tutoring 여부에 따른 GradeClass의 평균
tutoring_grade = df.groupby('Tutoring')['GradeClass'].mean()
print(tutoring_grade)

Tutoring
0    3.074207
1    2.773925
Name: GradeClass, dtype: float64

In [26]:
how = {    
    'GradeClass': np.mean,
}
df.groupby(['Absences_1', 'StudyTimeWeekly_1', 'Tutoring']).agg(how)

C:\Users\kdt\AppData\Local\Temp\ipykernel_18176\63019350.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Absences_1', 'StudyTimeWeekly_1', 'Tutoring']).agg(how)
C:\Users\kdt\AppData\Local\Temp\ipykernel_18176\63019350.py:4: FutureWarning: The provided callable <function mean at 0x00000206DE53A8B0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby(['Absences_1', 'StudyTimeWeekly_1', 'Tutoring']).agg(how)

                                       GradeClass
Absences_1 StudyTimeWeekly_1 Tutoring
하          하                 0           2.224044
                             1           1.612500
           중                 0           1.876847
                             1           1.397590
           상                 0           1.596273
                             1           0.972973
중          하                 0           3.680628
                             1           3.307692
           중                 0           3.519608
                             1           3.120482
           상                 0           3.087209
                             1           2.934211
상          하                 0           3.851852
                             1           3.802817
           중                 0           3.879397
                             1           3.860759
           상                 0           3.786982
                             1           3.869048