In [2]:
import pandas as pd

In [3]:
file_name = "Student_performance_data _.csv"

In [4]:
# 데이터 저장 후 출력

data = pd.read_csv(file_name)
data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [5]:
# 결측치 확인
data.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [6]:
# 중복치 확인
data.duplicated().sum()

np.int64(0)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

### [데이터 전처리]
- Gender : 0, 1 => 남, 여
- GradeClass : 0.0, 1.0, 2.0, 3.0, 4.0 => A, B, C, D, F
- New_ParentalSupport 행 추가 = ParentalSupport + Tutoring (부모의 도움 정도가 같더라도, 과외를 시켜주는 부모가 좀 더 자녀에게 신경을 써줬다고 가정) => [상 중 하]로 분류
- Tutoring : 0, 1 => X, O

In [8]:
data["Tutoring"] = data["Tutoring"].astype("int64")

In [9]:
data["Gender"] = pd.cut(data["Gender"],
                        bins = 2,
                        labels = ["남", "여"])
data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,여,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,남,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,남,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,여,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,여,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,여,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,남,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,여,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,여,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,여,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [10]:
data["GradeClass"] = data["GradeClass"].astype("int64")

In [11]:
data["GradeClass"] = pd.cut(data["GradeClass"],
                            bins = 5,
                            labels = ["A", "B", "C", "D", "F"])
data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,여,0,2,19.833723,7,1,2,0,0,1,0,2.929196,C
1,1002,18,남,0,1,15.408756,0,0,1,0,0,0,0,3.042915,B
2,1003,15,남,2,3,4.210570,26,0,2,0,0,0,0,0.112602,F
3,1004,17,여,0,3,10.028829,14,0,3,1,0,0,0,2.054218,D
4,1005,17,여,0,2,4.672495,17,1,3,0,0,0,0,1.288061,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,여,0,3,10.680555,2,0,4,1,0,0,0,3.455509,A
2388,3389,17,남,0,1,7.583217,4,1,4,0,1,0,0,3.279150,F
2389,3390,16,여,0,2,6.805500,20,0,2,0,0,0,1,1.142333,C
2390,3391,16,여,1,0,12.416653,17,0,2,0,1,1,0,1.803297,B
2391,3392,16,여,0,2,17.819907,13,0,2,0,0,0,1,2.140014,B

In [13]:
data["Ethnicity"].value_counts()

Ethnicity
0    1207
1     493
2     470
3     222
Name: count, dtype: int64

In [14]:
data["Tutoring"] = pd.cut(data["Tutoring"],
               bins = 2,
               labels = ["X", "O"])
data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,new_ParentalSupport
0,1001,17,여,0,2,19.833723,7,O,2,0,0,1,0,2.929196,C,3
1,1002,18,남,0,1,15.408756,0,X,1,0,0,0,0,3.042915,B,1
2,1003,15,남,2,3,4.210570,26,X,2,0,0,0,0,0.112602,F,2
3,1004,17,여,0,3,10.028829,14,X,3,1,0,0,0,2.054218,D,3
4,1005,17,여,0,2,4.672495,17,O,3,0,0,0,0,1.288061,F,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,여,0,3,10.680555,2,X,4,1,0,0,0,3.455509,A,4
2388,3389,17,남,0,1,7.583217,4,O,4,0,1,0,0,3.279150,F,5
2389,3390,16,여,0,2,6.805500,20,X,2,0,0,0,1,1.142333,C,2
2390,3391,16,여,1,0,12.416653,17,X,2,0,1,1,0,1.803297,B,2
2391,3392,16,여,0,2,17.819907,13,X,2,0,0,0,1,2.140014,B,2

In [15]:
data["new_ParentalSupport"] = pd.cut(data["new_ParentalSupport"],
                                      bins = 3,
                                      labels = ["하", "중", "상"])
data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,new_ParentalSupport
0,1001,17,여,0,2,19.833723,7,O,2,0,0,1,0,2.929196,C,중
1,1002,18,남,0,1,15.408756,0,X,1,0,0,0,0,3.042915,B,하
2,1003,15,남,2,3,4.210570,26,X,2,0,0,0,0,0.112602,F,중
3,1004,17,여,0,3,10.028829,14,X,3,1,0,0,0,2.054218,D,중
4,1005,17,여,0,2,4.672495,17,O,3,0,0,0,0,1.288061,F,상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,여,0,3,10.680555,2,X,4,1,0,0,0,3.455509,A,상
2388,3389,17,남,0,1,7.583217,4,O,4,0,1,0,0,3.279150,F,상
2389,3390,16,여,0,2,6.805500,20,X,2,0,0,0,1,1.142333,C,중
2390,3391,16,여,1,0,12.416653,17,X,2,0,1,1,0,1.803297,B,중
2391,3392,16,여,0,2,17.819907,13,X,2,0,0,0,1,2.140014,B,중

In [16]:
data2 = data[["ParentalEducation", "StudyTimeWeekly", "Absences", "Tutoring", "ParentalSupport", "GradeClass", "new_ParentalSupport"]]
data2

,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,GradeClass,new_ParentalSupport
0,2,19.833723,7,O,2,C,중
1,1,15.408756,0,X,1,B,하
2,3,4.210570,26,X,2,F,중
3,3,10.028829,14,X,3,D,중
4,2,4.672495,17,O,3,F,상
...,...,...,...,...,...,...,...
2387,3,10.680555,2,X,4,A,상
2388,1,7.583217,4,O,4,F,상
2389,2,6.805500,20,X,2,C,중
2390,0,12.416653,17,X,2,B,중
2391,2,17.819907,13,X,2,B,중

### [열 추가]
- Strictness 열 추가 : 출석율이 낮고, 공부량이 높을 수록 부모가 엄격하다는 가정

In [17]:
data2["Strictness"] = (data2["Absences"] < data2["Absences"].mean()) & (data2["StudyTimeWeekly"] > data2["StudyTimeWeekly"].mean())
data2

C:\Users\KDP-2\AppData\Local\Temp\ipykernel_12980\440969677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Strictness"] = (data2["Absences"] < data2["Absences"].mean()) & (data2["StudyTimeWeekly"] > data2["StudyTimeWeekly"].mean())

,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,GradeClass,new_ParentalSupport,Strictness
0,2,19.833723,7,O,2,C,중,True
1,1,15.408756,0,X,1,B,하,True
2,3,4.210570,26,X,2,F,중,False
3,3,10.028829,14,X,3,D,중,True
4,2,4.672495,17,O,3,F,상,False
...,...,...,...,...,...,...,...,...
2387,3,10.680555,2,X,4,A,상,True
2388,1,7.583217,4,O,4,F,상,False
2389,2,6.805500,20,X,2,C,중,False
2390,0,12.416653,17,X,2,B,중,False
2391,2,17.819907,13,X,2,B,중,True

In [18]:
data2["Strictness"] = data2["Strictness"].astype("bool")

C:\Users\KDP-2\AppData\Local\Temp\ipykernel_12980\526590275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Strictness"] = data2["Strictness"].astype("bool")

In [19]:
data2["Strictness"] = pd.cut(data2["Strictness"],
                             bins = 2,
                             labels = ["X", "O"])
data2

C:\Users\KDP-2\AppData\Local\Temp\ipykernel_12980\3445434112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Strictness"] = pd.cut(data2["Strictness"],

,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,GradeClass,new_ParentalSupport,Strictness
0,2,19.833723,7,O,2,C,중,O
1,1,15.408756,0,X,1,B,하,O
2,3,4.210570,26,X,2,F,중,X
3,3,10.028829,14,X,3,D,중,O
4,2,4.672495,17,O,3,F,상,X
...,...,...,...,...,...,...,...,...
2387,3,10.680555,2,X,4,A,상,O
2388,1,7.583217,4,O,4,F,상,X
2389,2,6.805500,20,X,2,C,중,X
2390,0,12.416653,17,X,2,B,중,X
2391,2,17.819907,13,X,2,B,중,O

#### [비교]
- 부모의 지원이 성적에 영향을 미치는가?
- 부모의 성격이 성적에 영향을 미치는가?
- 부모의 학력이 성적에 영향을 미치는가?

In [20]:
# 눈으로 비교 불가 -> 비율로 따져서 비교하기

print(data2[data2["new_ParentalSupport"] == "상"]["GradeClass"].value_counts())
print(data2[data2["new_ParentalSupport"] == "중"]["GradeClass"].value_counts())
print(data2[data2["new_ParentalSupport"] == "하"]["GradeClass"].value_counts())

GradeClass
F    190
D     77
C     77
B     69
A     47
Name: count, dtype: int64
GradeClass
F    699
D    239
C    226
B    173
A     45
Name: count, dtype: int64
GradeClass
F    322
D     98
C     88
B     27
A     15
Name: count, dtype: int64

In [21]:
def percentage_cal(data, column, condition, op):
    if op == "==":
        result = ((data[column] == condition) & (data["GradeClass"] <= "B")).sum() / (data[column] == condition).sum() * 100
    
    elif op == ">":
        result = ((data[column] > condition) & (data["GradeClass"] <= "B")).sum() / (data[column] > condition).sum() * 100    

    elif op == "<":
        result = ((data[column] < condition) & (data["GradeClass"] <= "B")).sum() / (data[column] < condition).sum() * 100    

    return result

In [22]:
high_support_percentage = percentage_cal(data2, "new_ParentalSupport", "상", "==")
medium_support_percentage = percentage_cal(data2, "new_ParentalSupport", "중", "==")
low_support_percentage = percentage_cal(data2, "new_ParentalSupport", "하", "==")

print(F"지원을 많이 받은 성적 우수자 : {round(high_support_percentage, 2)}%")
print(F"지원을 적당히 받은 성적 우수자 : {round(medium_support_percentage, 2)}%")
print(F"지원을 조금 받은 성적 우수자 : {round(low_support_percentage, 2)}%")

지원을 많이 받은 성적 우수자 : 25.22%
지원을 적당히 받은 성적 우수자 : 15.77%
지원을 조금 받은 성적 우수자 : 7.64%

In [23]:
strict_parent_percentage = percentage_cal(data2, "Strictness", "O", "==")
non_strict_parent_percentage = percentage_cal(data2, "Strictness", "X", "==")

print(F"엄격한 부모님을 가진 성적 우수자 : {round(strict_parent_percentage, 2)}%")
print(F"온순한 부모님을 가진 성적 우수자 : {round(non_strict_parent_percentage, 2)}%")

엄격한 부모님을 가진 성적 우수자 : 35.01%
온순한 부모님을 가진 성적 우수자 : 9.3%

In [24]:
# 학사 이상, 이하의 부모
high_edu_parent_percentage = percentage_cal(data2, "ParentalEducation", 2, ">")
low_edu_parent_percentage = percentage_cal(data2, "ParentalEducation", 3, "<")

print(F"학사 학위 이상 부모님을 가진 성적 우수자 : {round(high_edu_parent_percentage, 2)}%")
print(F"학사 학위 미만 부모님을 가진 성적 우수자 : {round(low_edu_parent_percentage, 2)}%")

학사 학위 이상 부모님을 가진 성적 우수자 : 13.76%
학사 학위 미만 부모님을 가진 성적 우수자 : 16.22%

### 결론


<img src="스크린샷 2024-07-18 101541.png" alt="스크린샷 2024-07-18 101541" width="450px" height = "700px">

- 위의 사진과 분석이 동일하게 부모의 사회적 지원이 자녀의 성적을 높이는 것을 확인할 수 있다.
- 추가로 엄격한 (공부량과 출석율이 평균 이상) 부모님을 둔 학생이 성적이 우수할 확률이 높다.
- 의외로 부모님의 학위는 연관이 없다.